*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background: #000;
}

.nav{
  height: 5vh;
}
.nav img{
  float: left;
}
.hero{
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
}
